-- checklists.sql
create table if not exists checklists (
  id uuid default gen_random_uuid() primary key,
  user_id uuid not null,
  name text not null,
  notes text,
  created_at timestamptz default now(),
  updated_at timestamptz default now()
);

create index if not exists idx_checklists_user on checklists (user_id);
