-- checklist_items.sql
create table if not exists checklist_items (
  id uuid default gen_random_uuid() primary key,
  checklist_id uuid not null references checklists(id) on delete cascade,
  name text not null,
  category text,
  status boolean default false,
  created_at timestamptz default now(),
  updated_at timestamptz default now()
);

create index if not exists idx_checklist_items_checklist on checklist_items (checklist_id);
